.question-animation {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.question-animation.show {
  opacity: 1;
}

.imagePosition {
  margin-left: 70%;
  position: absolute;
  display: inline-flex;
  height: 400px;
  width: 400px;
  box-shadow: 1cm;
  /* mix-blend-mode: multiply; */
}
