.banner {
  text-align: left;
  background-size: cover;
  background-position: center center;
  width: 100vw;
  min-height: 80vh;
  
}

.mainpagecontent {
  display: flex;
  align-items: center;
}

.banner_description {
  color: white;
  font-family: 'Poppins', sans-serif;
  margin-left: 50px;
  margin-right: 50px;
  opacity: 0;
  transform: translateY(-20px);
  animation: fadeInUp 0.5s forwards;
}

.description-title {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 10px;
}

.description-text {
  font-size: 1.2rem;
  line-height: 1.6;
}

.careerimg-link {
  display: flex;
  justify-content: flex-end;
  opacity: 0;
  transform: translateY(20px);
  animation: fadeInUp 0.5s 0.2s forwards;
}

.careerimg-link img {
  width: 550px;
  height: auto;
  margin-top: 20px;
  transition: transform 0.3s;
}

.careerimg-link img:hover {
  transform: scale(1.05);
}

.banner_buttons {
  margin-left: 50px;
  margin-top: 20px;
  opacity: 0;
  transform: translateY(20px);
  animation: fadeInUp 0.5s 0.4s forwards;
}

.button-start {
  width: 300px; /* Increase width */
  height: 100px; /* Increase height */
  font-size: 24px;
  font-weight: bold;
  letter-spacing: 1px;
  padding: 30px 70px; /* Increase padding */
  outline: 0;
  border: none; /* Remove the border */
  cursor: pointer;
  position: relative;
  background-color: rgba(255, 255, 255, 0);
  color: #ffffff;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  border-radius: 10px;
  transition: background-color 0.3s, color 0.3s, box-shadow 0.3s; /* Add box-shadow transition */

  /* Add box-shadow for a button effect */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.button-start:hover {
  background-color: rgba(255, 255, 255, 0.2);
  color: #000000;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.4); /* Increase shadow on hover */
}

/* Media query for smaller screens */
@media (max-width: 768px) {
  .description-title {
    font-size: 2rem;
  }

  .description-text {
    font-size: 1rem;
    margin-bottom: 20px;
  }

  .button-start {
    width: 250px;
    height: 80px;
    font-size: 18px;
    padding: 20px 50px;
  }

  .mainpagecontent {
    flex-direction: column;
    text-align: center;
  }

  .banner_buttons {
    margin-left: 0;
    margin-top: 20px;
  }

  .careerimg-link {
    margin-left: 0;
    margin-top: 20px;
  }
}
