.head {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 2em 0;
}

.description {
  background-color: #000;
  padding: 2em;
  text-align: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: #fff;
  line-height: 1.5;
}

.description p {
  font-size: 18px;
  margin-bottom: 1em;
}

.team-members {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;
  padding: 2em;
}

.member-box {
  background-color: #fff;
  border: 1px solid #ddd;
  padding: 1.5em;
  margin: 1em;
  text-align: center;
  max-width: 250px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  border-radius: 10px;
}

.member-box:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.professor-box {
  background-color: #f8f8f8;
  font-size: 18px;
  margin-right: auto;
  margin-left: auto;
  color: #000;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  border-radius: 10px;
}

.professor-box:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.professor-box img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-bottom: 1em;
}

.student-box {
  max-width: 250px;
  flex: 1;
  color: #000;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  border-radius: 10px;
}

.student-box:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.imgSize {
  max-width: 100px;
  border-radius: 50%;
  margin-bottom: 1em;
}

.social-links {
  display: flex;
  justify-content: center;
  margin-top: 1em;
}

.social-links a {
  display: flex;
  align-items: center;
  margin: 0 10px;
  text-decoration: none;
  color: #007bff;
  transition: color 0.3s ease;
}

.social-links a:hover {
  color: #0056b3;
}

.social-links img {
  width: 30px;
  height: 30px;
  margin-right: 5px;
}

.student-members {
  display: flex;
  justify-content: center;
}

@media (max-width: 768px) {
  .member-box {
    max-width: 100%;
  }
}
