.container {
  text-align: center;
  margin-top: 5vh;
}

.form-label {
  display: inline-block;
  margin-bottom: 5px;
  font-weight: bold;
}

.required {
  color: red;
  margin-left: 4px;
}

/* Additional adjustments for the button */
.btn-outline-primary:disabled {
  background-color: #e9ecef; /* Gray out the button when disabled */
  border-color: #e9ecef; /* Gray out the border when disabled */
}

/* Style for the dropdown menu options */
.dropdown-menu a {
  color: black;
  text-decoration: none;
  display: block;
  padding: 10px 15px;
  transition: background-color 0.2s;
}

.dropdown-menu a:hover {
  background-color: #f8f9fa;
}

.dropdown-menu {
  background-color: #212529; /* Set the background color to white */
  border: none; /* Remove border */
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1); /* Add a subtle box shadow */
  border-radius: 5px;
  width: 100%;
  max-height: 200px;
  overflow-y: auto;
}

.dropDownContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  opacity: 0;
  transform: translateY(-20px);
  animation: fadeInUp 0.5s forwards;
}

.select-wrapper {
  display: inline-block;
  position: relative;
}

&::after {
  content: "\00bb";
  position: absolute;
  width: 20px;
  height: 20px;
  top: 22px;
  right: 10px;
  font-size: 30px;
  line-height: 20px;
  pointer-events: none;
  z-index: 0;
  transform: rotate(90deg);
  color: white;
}

.selectClass {
  position: relative;
  border: 2px solid white;
  background-color: transparent;
  color: white;
  padding: 15px 40px 15px 15px;
  line-height: 15px;
  font-size: 15px;
  outline: none;
  border-radius: 0;
  appearance: none;
  -webkit-appearance: none;
  font-weight: bold;
  letter-spacing: 0.5px;
  text-align-last: center;
}

.selectClass option {
  background-color: #212529; /* Background color */
  color: white; /* Text color */
}
